.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./core/img/kazino_Background.jpg"); 
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(29, 29, 29, 0.5);
  background-blend-mode: overlay;  
}


